<!DOCTYPE html>
<html>
	<head>
		<title>博客</title>

		<include file="Common:header"/>
    	

			<div class="content">
					<h1 class="photo-title">相册首页</h1>
				
					<div class="photo">
						<a href="__MODULE__/Photo/photo">
						<img src="__PUBLIC__/Home/img/12646017862813.jpg">
						</a>
					</div>

					<div class="photo">
						<img src="__PUBLIC__/Home/img/12646017862813.jpg">
					</div>

					<div class="photo">
						<img src="__PUBLIC__/Home/img/12646017862813.jpg">
					</div>

					<div class="photo">
						<img src="__PUBLIC__/Home/img/12646017862813.jpg">
					</div>

					<div class="photo">
						<img src="__PUBLIC__/Home/img/12646017862813.jpg">
					</div>

					<div class="photo">
						<img src="__PUBLIC__/Home/img/12646017862813.jpg">
					</div>

					<div class="photo">
						<img src="__PUBLIC__/Home/img/12646017862813.jpg">
					</div>

					<div class="photo">
						<img src="__PUBLIC__/Home/img/12646017862813.jpg">
					</div>
					
				
			</div>

	
	<include file="Common:footer"/>				
				