<!DOCTYPE html>
<html>
    <head>
        <title>博客</title>

        <include file="Common:header"/>
        

            <div class="content">
                
                    <div class="photo-fo">
                        <img src="__PUBLIC__/Home/img/12646017862813.jpg">
                    </div>

                    <div class="photo-fo">
                        <img src="__PUBLIC__/Home/img/12731587449631.jpg">
                    </div>

                    <div class="photo-fo">
                        <img src="__PUBLIC__/Home/img/wallhaven-63163.jpg">
                    </div>

                    <div class="photo-fo">
                        <img src="__PUBLIC__/Home/img/12646017862813.jpg">
                    </div>

                    <div class="photo-fo">
                        <img src="__PUBLIC__/Home/img/12646017862813.jpg">
                    </div>

                    <div class="photo-fo">
                        <img src="__PUBLIC__/Home/img/12646017862813.jpg">
                    </div>

                    <div class="photo-fo">
                        <img src="__PUBLIC__/Home/img/12646017862813.jpg">
                    </div>

                    <div class="photo-fo">
                        <img src="__PUBLIC__/Home/img/12646017862813.jpg">
                    </div>
                    
                
            </div>

    
    <include file="Common:footer"/>             
                