<div class="sidebar">
                    <div class="sidebar-sub">
                        <div>最新文章</div>
                        <ul>
                            <volist name="articles" id="vo">
                                <li>{$vo.a_title}</li>
                            </volist>
                        </ul>
                    </div>
                    <div class="sidebar-sub">
                        <div>分类目录</div>
                        <ul>
                            <li>列表</li>
                            <li>列表</li>
                            <li>列表</li>
                            <li>列表</li>
                            <li>列表</li>
                            <li>列表</li>
                        </ul>
                    </div>
                    <div class="sidebar-sub">
                        <div>标签</div>
                        <ul>
                            <li>列表</li>
                            <li>列表</li>
                            <li>列表</li>
                            <li>列表</li>
                            <li>列表</li>
                            <li>列表</li>
                        </ul>
                    </div>
                    <div class="sidebar-sub">
                        <div>文章归档</div>
                        <ul>
                            <li>列表</li>
                            <li>列表</li>
                            <li>列表</li>
                            <li>列表</li>
                            <li>列表</li>
                            <li>列表</li>
                        </ul>
                    </div>
                    <div class="sidebar-sub">
                        <div>友情链接</div>
                        <ul>
                            <li>列表</li>
                            <li>列表</li>
                            <li>列表</li>
                            <li>列表</li>
                            <li>列表</li>
                            <li>列表</li>
                        </ul>
                    </div>
                </div>                      
            </div>
