<!DOCTYPE html>
<html>
	<head>
		<title>博客</title>

		<include file="Common:header"/>
    	

			<div class="content">
				<div class="main">
					<div class="log">
						<h1>Hello World!你好，世界！</h1>
						<span class="log-time">发表于2017年2月19日 21:31</span>
						<p>
							The purpose of this HTML is to help determine what default settings are with CSS and to make sure that all possible HTML Elements are included in this HTML so as to not miss any possible Elements when designing a site. Heading 1 Heading 2 Heading 3 Heading 4 Heading 5 Heading 6 [top] Paragraph
							人的一生会遇到许多的人和事，但要想人人成为知己，事事顺心如意，我看也非易事。然，佛经中的两个字却让我茅塞顿开，那就是‘随缘’，按佛经中讲，人与人从相逢到相识也是一种缘分，不管是什么人，只要有缘，哪怕是隔着千山万水，冥冥中也会在一个特定的环境下相逢，正所谓，有缘千里来相会，当然，除了男女之间的姻缘外，朋友之间的相逢与相识，也是一种缘分，所以，朋友之间一定要珍惜这种　 							
						</p>
					</div>
					<div class="log">
						<h1>Javascript笔记</h1>
						<span class="log-time">发表于2017年2月19日 21:31</span>
						<p>
							The purpose of this HTML is to help determine what default settings are with CSS and to make sure that all possible HTML Elements are included in this HTML so as to not miss any possible Elements when designing a site. Heading 1 Heading 2 Heading 3 Heading 4 Heading 5 Heading 6 [top] Paragraph
							人的一生会遇到许多的人和事，但要想人人成为知己，事事顺心如意，我看也非易事。然，佛经中的两个字却让我茅塞顿开，那就是‘随缘’，按佛经中讲，人与人从相逢到相识也是一种缘分，不管是什么人，只要有缘，哪怕是隔着千山万水，冥冥中也会在一个特定的环境下相逢，正所谓，有缘千里来相会，当然，除了男女之间的姻缘外，朋友之间的相逢与相识，也是一种缘分，所以，朋友之间一定要珍惜这种　 							
						</p>
					</div>
					<div class="log">
						<h1>AJAX运用实例</h1>
						<span class="log-time">发表于2017年2月19日 21:31</span>
						<p>
							The purpose of this HTML is to help determine what default settings are with CSS and to make sure that all possible HTML Elements are included in this HTML so as to not miss any possible Elements when designing a site. Heading 1 Heading 2 Heading 3 Heading 4 Heading 5 Heading 6 [top] Paragraph
							人的一生会遇到许多的人和事，但要想人人成为知己，事事顺心如意，我看也非易事。然，佛经中的两个字却让我茅塞顿开，那就是‘随缘’，按佛经中讲，人与人从相逢到相识也是一种缘分，不管是什么人，只要有缘，哪怕是隔着千山万水，冥冥中也会在一个特定的环境下相逢，正所谓，有缘千里来相会，当然，除了男女之间的姻缘外，朋友之间的相逢与相识，也是一种缘分，所以，朋友之间一定要珍惜这种　 							
						</p>
					</div>
					<div class="log">
						<h1>关于PHP的一些规范</h1>
						<span class="log-time">发表于2017年2月19日 21:31</span>
						<p>
							The purpose of this HTML is to help determine what default settings are with CSS and to make sure that all possible HTML Elements are included in this HTML so as to not miss any possible Elements when designing a site. Heading 1 Heading 2 Heading 3 Heading 4 Heading 5 Heading 6 [top] Paragraph
							人的一生会遇到许多的人和事，但要想人人成为知己，事事顺心如意，我看也非易事。然，佛经中的两个字却让我茅塞顿开，那就是‘随缘’，按佛经中讲，人与人从相逢到相识也是一种缘分，不管是什么人，只要有缘，哪怕是隔着千山万水，冥冥中也会在一个特定的环境下相逢，正所谓，有缘千里来相会，当然，除了男女之间的姻缘外，朋友之间的相逢与相识，也是一种缘分，所以，朋友之间一定要珍惜这种　 							
						</p>
					</div>
					<div class="log">
						<h1>影评：《降临》观后感</h1>
						<span class="log-time">发表于2017年2月19日 21:31</span>
						<p>
							The purpose of this HTML is to help determine what default settings are with CSS and to make sure that all possible HTML Elements are included in this HTML so as to not miss any possible Elements when designing a site. Heading 1 Heading 2 Heading 3 Heading 4 Heading 5 Heading 6 [top] Paragraph
							人的一生会遇到许多的人和事，但要想人人成为知己，事事顺心如意，我看也非易事。然，佛经中的两个字却让我茅塞顿开，那就是‘随缘’，按佛经中讲，人与人从相逢到相识也是一种缘分，不管是什么人，只要有缘，哪怕是隔着千山万水，冥冥中也会在一个特定的环境下相逢，正所谓，有缘千里来相会，当然，除了男女之间的姻缘外，朋友之间的相逢与相识，也是一种缘分，所以，朋友之间一定要珍惜这种　 							
						</p>
					</div>
					<div class="log">
						<h1>我的一些方法</h1>
						<span class="log-time">发表于2017年2月19日 21:31</span>
						<p>
							The purpose of this HTML is to help determine what default settings are with CSS and to make sure that all possible HTML Elements are included in this HTML so as to not miss any possible Elements when designing a site. Heading 1 Heading 2 Heading 3 Heading 4 Heading 5 Heading 6 [top] Paragraph
							人的一生会遇到许多的人和事，但要想人人成为知己，事事顺心如意，我看也非易事。然，佛经中的两个字却让我茅塞顿开，那就是‘随缘’，按佛经中讲，人与人从相逢到相识也是一种缘分，不管是什么人，只要有缘，哪怕是隔着千山万水，冥冥中也会在一个特定的环境下相逢，正所谓，有缘千里来相会，当然，除了男女之间的姻缘外，朋友之间的相逢与相识，也是一种缘分，所以，朋友之间一定要珍惜这种　 							
						</p>
					</div>
					<div class="log">
						<h1>我的一些方法</h1>
						<span class="log-time">发表于2017年2月19日 21:31</span>
						<p>
							The purpose of this HTML is to help determine what default settings are with CSS and to make sure that all possible HTML Elements are included in this HTML so as to not miss any possible Elements when designing a site. Heading 1 Heading 2 Heading 3 Heading 4 Heading 5 Heading 6 [top] Paragraph
							人的一生会遇到许多的人和事，但要想人人成为知己，事事顺心如意，我看也非易事。然，佛经中的两个字却让我茅塞顿开，那就是‘随缘’，按佛经中讲，人与人从相逢到相识也是一种缘分，不管是什么人，只要有缘，哪怕是隔着千山万水，冥冥中也会在一个特定的环境下相逢，正所谓，有缘千里来相会，当然，除了男女之间的姻缘外，朋友之间的相逢与相识，也是一种缘分，所以，朋友之间一定要珍惜这种　 							
						</p>
					</div>
					<div class="log">
						<h1>我的一些方法</h1>
						<span class="log-time">发表于2017年2月19日 21:31</span>
						<p>
							The purpose of this HTML is to help determine what default settings are with CSS and to make sure that all possible HTML Elements are included in this HTML so as to not miss any possible Elements when designing a site. Heading 1 Heading 2 Heading 3 Heading 4 Heading 5 Heading 6 [top] Paragraph
							人的一生会遇到许多的人和事，但要想人人成为知己，事事顺心如意，我看也非易事。然，佛经中的两个字却让我茅塞顿开，那就是‘随缘’，按佛经中讲，人与人从相逢到相识也是一种缘分，不管是什么人，只要有缘，哪怕是隔着千山万水，冥冥中也会在一个特定的环境下相逢，正所谓，有缘千里来相会，当然，除了男女之间的姻缘外，朋友之间的相逢与相识，也是一种缘分，所以，朋友之间一定要珍惜这种　 							
						</p>
					</div>
					<div class="log">
						<h1>我的一些方法</h1>
						<span class="log-time">发表于2017年2月19日 21:31</span>
						<p>
							The purpose of this HTML is to help determine what default settings are with CSS and to make sure that all possible HTML Elements are included in this HTML so as to not miss any possible Elements when designing a site. Heading 1 Heading 2 Heading 3 Heading 4 Heading 5 Heading 6 [top] Paragraph
							人的一生会遇到许多的人和事，但要想人人成为知己，事事顺心如意，我看也非易事。然，佛经中的两个字却让我茅塞顿开，那就是‘随缘’，按佛经中讲，人与人从相逢到相识也是一种缘分，不管是什么人，只要有缘，哪怕是隔着千山万水，冥冥中也会在一个特定的环境下相逢，正所谓，有缘千里来相会，当然，除了男女之间的姻缘外，朋友之间的相逢与相识，也是一种缘分，所以，朋友之间一定要珍惜这种　 							
						</p>
					</div>
					<div class="log">
						<h1>我的一些方法</h1>
						<span class="log-time">发表于2017年2月19日 21:31</span>
						<p>
							The purpose of this HTML is to help determine what default settings are with CSS and to make sure that all possible HTML Elements are included in this HTML so as to not miss any possible Elements when designing a site. Heading 1 Heading 2 Heading 3 Heading 4 Heading 5 Heading 6 [top] Paragraph
							人的一生会遇到许多的人和事，但要想人人成为知己，事事顺心如意，我看也非易事。然，佛经中的两个字却让我茅塞顿开，那就是‘随缘’，按佛经中讲，人与人从相逢到相识也是一种缘分，不管是什么人，只要有缘，哪怕是隔着千山万水，冥冥中也会在一个特定的环境下相逢，正所谓，有缘千里来相会，当然，除了男女之间的姻缘外，朋友之间的相逢与相识，也是一种缘分，所以，朋友之间一定要珍惜这种　 							
						</p>
					</div>
					<div class="log">
						<h1>我的一些方法</h1>
						<span class="log-time">发表于2017年2月19日 21:31</span>
						<p>
							The purpose of this HTML is to help determine what default settings are with CSS and to make sure that all possible HTML Elements are included in this HTML so as to not miss any possible Elements when designing a site. Heading 1 Heading 2 Heading 3 Heading 4 Heading 5 Heading 6 [top] Paragraph
							人的一生会遇到许多的人和事，但要想人人成为知己，事事顺心如意，我看也非易事。然，佛经中的两个字却让我茅塞顿开，那就是‘随缘’，按佛经中讲，人与人从相逢到相识也是一种缘分，不管是什么人，只要有缘，哪怕是隔着千山万水，冥冥中也会在一个特定的环境下相逢，正所谓，有缘千里来相会，当然，除了男女之间的姻缘外，朋友之间的相逢与相识，也是一种缘分，所以，朋友之间一定要珍惜这种　 							
						</p>
					</div>
				</div>


	<include file="Common:right"/>	
	<include file="Common:footer"/>				
				